<div class="container">
  <h1 class="my-5 text-center"><strong>Seus agendamentos</strong></h1>

  <ul class="cards">
    <% @bookings.each do |booking| %>
      <li class="card-item mb-5">
        <div class="card-body h-100 card">
          <h5 class="card-title"><strong><%= booking.service.user.name %></strong></h5>
          <p class="card-text"><strong>Tipo de serviço: </strong><%= booking.service.description %></p>
          <p class="card-text"><strong>Dia: </strong><%= booking.date.strftime('%d/%m/%Y') %></p>
        </div>
      </li>
    <% end %>
  </ul>


  <%# TALVEZ DEPOIS %>
  <%# <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> %>

 <div class="container mb-5 mt-4">
    <%= link_to 'Início', root_path, class: "btn btn-primary btn-lg w-100" %>
  </div>
</div>
