<div class="py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cglimpeza.com.br/wp-content/uploads/2017/12/2018-01-10-importancia-dos-epis-para-equipes-de-limpeza.jpg); background-size: cover; height: 500px; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
    <h1 style="color: white;"><em>Clean Easy</em> – <strong>A Excelência em Limpeza</strong> para o <strong>Seu Espaço</strong>!</h1>
    <h2 style="color: white;">Transforme a sua casa ou empresa com uma limpeza impecável. Confie em profissionais que fazem da limpeza uma verdadeira arte.</h2>
</div>


<div class="container">
  <div class="justify-center p-3">
    <h2>Transforme sua rotina com serviços domésticos de excelência</h2>
    <h3>Descubra as Vantagens Exclusivas que Só a Clean Easy Oferece</h3>
  </div>
  <div class="p-3">
  <h3><strong>Praticidade</strong></h3>
    <ul>
      <li>Garanta seus serviços de forma rápida e fácil! Contrate e pague em menos de um minuto diretamente pelo nosso aplicativo.</p>
    </ul>
    <hr>

    <h3><strong>Qualidade</strong></h3>
      <ul>
        <li>Contamos com profissionais altamente avaliados, com uma média de satisfação superior a 4,6 de 5⭐, garantindo um serviço impecável.
      </ul>
      <hr>

    <h3><strong>Segurança</strong></h3>
      <ul>
        <li>Nosso rigoroso processo de credenciamento e checagens periódicas asseguram que você sempre receba o melhor atendimento, com total confiança.
      </ul>
      <hr>

    <h3><strong>Preço Justo</strong></h3>
      <ul>
        <li>Pague somente pelo tempo necessário, com tarifas transparentes e adaptadas às suas necessidades.
      </ul>
      <hr>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "Explore Todos os Serviços", services_path, class: "btn btn-outline-newgreen btn-lg mx-2" %>
      <%= link_to "Cadastre Seus Serviços", new_service_path, class: "btn btn-outline-newgreen btn-lg mx-2" %>
      <%= link_to "Consulte Seus Agendamentos", bookings_path, class: "btn btn-outline-newgreen btn-lg mx-2" %>
    </div>
</div>



<div class="card-category">
  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxh" alt="Imagem de um borrifador" class="card-image">
    </div>
    <div class="card-content d-flex flex-column" style="height: 100%;">
      <h2 class="card-title">Limpeza padrão</h2>
      <p class="card-description flex-grow-1">Limpeza de qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-newgreen btn-lg mt-auto">Agendar</a>
    </div>
  </div>

  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxg" alt="Imagem de uma vassoura" class="card-image">
    </div>
    <div class="card-content d-flex flex-column" style="height: 100%;">
      <h2 class="card-title">Limpeza pesada</h2>
      <p class="card-description flex-grow-1">Limpeza pesada com qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-newgreen btn-lg mt-auto">Agendar</a>
    </div>
  </div>

  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxf" alt="Imagem de uma casa" class="card-image">
    </div>
    <div class="card-content d-flex flex-column" style="height: 100%;">
      <h2 class="card-title">Limpeza pós obra</h2>
      <p class="card-description flex-grow-1">Limpeza pós obra com qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-newgreen btn-lg mt-auto">Agendar</a>
    </div>
   </div>

  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxe" alt="Imagem de um caminhão" class="card-image">
    </div>
    <div class="card-content d-flex flex-column" style="height: 100%;">
    <h2 class="card-title">Limpeza pré ou pós mudança</h2>
    <p class="card-description flex-grow-1">Limpeza pré ou pós mudança com qualidade e eficiência</p>
    <a href="#" class="btn btn-outline-newgreen btn-lg mt-auto">Agendar</a>
</div>

  </div>
  </div>
