<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cglimpeza.com.br/wp-content/uploads/2017/12/2018-01-10-importancia-dos-epis-para-equipes-de-limpeza.jpg); background-size: cover; height: 500px;">
  <div class="container">
    <h1>Clean Easy <strong>limpeza</strong> para <strong>sua casa ou empresa</strong>!</h1>
    <h3>Deixe a limpeza nas mãos de quem entende.</h3>
    <a class="btn btn-primary" href="#" >Informações</a>
  </div>
</div>

<div class="container">
  <h2>Transforme sua rotina com serviços domésticos de excelência</h2>
  <h3>Descubra as Vantagens Exclusivas que Só a Clean Easy Oferece</h3>

  <p><strong>Praticidade</strong></p>
  <p>Garanta seus serviços de forma rápida e fácil! Contrate e pague em menos de um minuto diretamente pelo nosso aplicativo.</p>

  <p><strong>Qualidade</strong></p>
  <p>Contamos com profissionais altamente avaliados, com uma média de satisfação superior a 4,6/5, garantindo um serviço impecável.</p>

  <p><strong>Segurança</strong></p>
  <p>Nosso rigoroso processo de credenciamento e checagens periódicas asseguram que você sempre receba o melhor atendimento, com total confiança.</p>

  <p><strong>Preço Justo</strong></p>
  <p>Pague somente pelo tempo necessário, com tarifas transparentes e adaptadas às suas necessidades.</p>

  <%= link_to "Explore Todos os Serviços", services_path, class: "btn btn-outline-newgreen btn-lg" %>
  <%= link_to "Cadastre Seus Serviços", new_service_path, class: "btn btn-outline-newgreen btn-lg" %>
  <%= link_to "Consulte Seus Agendamentos", bookings_path, class: "btn btn-outline-newgreen btn-lg" %>
</div>



<div class="card-category">
  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxh" alt="Imagem de um borrifador" class="card-image">
    </div>
    <div class="card-content">
      <h2 class="card-title">Limpeza padrão</h2>
      <p class="card-description">Limpeza de qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-primary btn-lg">Agendar</a>
    </div>
  </div>

  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxg" alt="Imagem de uma vassoura" class="card-image">
    </div>
    <div class="card-content">
      <h2 class="card-title">Limpeza pesada</h2>
      <p class="card-description">Limpeza pesada com qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-primary btn-lg">Agendar</a>
    </div>
  </div>

  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxf" alt="Imagem de uma casa" class="card-image">
    </div>
    <div class="card-content">
      <h2 class="card-title">Limpeza pós obra</h2>
      <p class="card-description">Limpeza pós obra com qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-primary btn-lg">Agendar</a>
    </div>
  </div>

  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxe" alt="Imagem de um caminhão" class="card-image">
    </div>
    <div class="card-content">
      <h2 class="card-title">Limpeza pré ou pós mudança</h2>
      <p class="card-description">Limpeza pré ou pós mudança com qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-primary btn-lg">Agendar</a>
    </div>
  </div>
  </div>
