<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cglimpeza.com.br/wp-content/uploads/2017/12/2018-01-10-importancia-dos-epis-para-equipes-de-limpeza.jpg); background-size: cover; height: 500px;">
  <div class="container">
    <h1>Clean Easy <strong>limpeza</strong> para <strong>sua casa ou empresa</strong>!</h1>
    <h3>Deixe a limpeza nas mãos de quem entende.</h3>
    <a class="btn btn-primary" href="#" >Informações</a>
  </div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Todos os serviços", services_path %>

<div class="card-category">
  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxh" alt="Imagem de um borrifador" class="card-image">
    </div>
    <div class="card-content">
      <h2 class="card-title">Limpeza padrão</h2>
      <p class="card-description">Limpeza de qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-primary btn-lg">Agendar</a>
    </div>
  </div>

  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxg" alt="Imagem de uma vassoura" class="card-image">
    </div>
    <div class="card-content">
      <h2 class="card-title">Limpeza pesada</h2>
      <p class="card-description">Limpeza de pesada com qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-primary btn-lg">Agendar</a>
    </div>
  </div>

  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxf" alt="Imagem de uma casa" class="card-image">
    </div>
    <div class="card-content">
      <h2 class="card-title">Limpeza pós obra</h2>
      <p class="card-description">Limpeza pós obra com qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-primary btn-lg">Agendar</a>
    </div>
  </div>

  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxe" alt="Imagem de um caminhão" class="card-image">
    </div>
    <div class="card-content">
      <h2 class="card-title">Limpeza pré ou pós mudança</h2>
      <p class="card-description">Limpeza pré ou pós mudança com qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-primary btn-lg">Agendar</a>
    </div>
  </div>
  </div>
