<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cglimpeza.com.br/wp-content/uploads/2017/12/2018-01-10-importancia-dos-epis-para-equipes-de-limpeza.jpg); background-size: cover; height: 500px;">
  <div class="container">
    <h1>Clean Easy <strong>limpeza</strong> para <strong>sua casa ou empresa</strong>!</h1>
    <h3>Deixe a limpeza nas mãos de quem entende.</h3>
    <a class="btn btn-primary" href="#" >Informações</a>
  </div>
</div>

<div class="container">
  <h2>Serviços domésticos com praticidade e qualidade</h2>
  <h3>Vantagens que você só encontra na Clean Easy</h3>

  <p><strong>Praticidade</strong></p>
  <p>Tenha seu serviço ainda hoje! Contrate e pague em 1 minuto com o app.</p>
  <p><strong>Qualidade</strong></p>
  <p>Profissionais avaliados por outros clientes, com nota acima de 4,6 / 5,0.</p>
  <p><strong>Segurança</strong></p>
  <p>Criterioso processo de credenciamento e checagem periódica dos profissionais.</p>
  <p><strong>Preço justo</strong></p>
  <p>Pague apenas pelas horas dedicadas, conforme sua necessidade.</p>
    <%= link_to "Todos os serviços", services_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Adicione seus serviços", new_service_path, class: "btn btn-primary btn-lg" %>
</div>


<div class="card-category">
  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxh" alt="Imagem de um borrifador" class="card-image">
    </div>
    <div class="card-content">
      <h2 class="card-title">Limpeza padrão</h2>
      <p class="card-description">Limpeza de qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-primary btn-lg">Agendar</a>
    </div>
  </div>

  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxg" alt="Imagem de uma vassoura" class="card-image">
    </div>
    <div class="card-content">
      <h2 class="card-title">Limpeza pesada</h2>
      <p class="card-description">Limpeza pesada com qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-primary btn-lg">Agendar</a>
    </div>
  </div>

  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxf" alt="Imagem de uma casa" class="card-image">
    </div>
    <div class="card-content">
      <h2 class="card-title">Limpeza pós obra</h2>
      <p class="card-description">Limpeza pós obra com qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-primary btn-lg">Agendar</a>
    </div>
  </div>

  <div class="card">
    <div class="imgcard">
      <img src="https://amz.run/9Uxe" alt="Imagem de um caminhão" class="card-image">
    </div>
    <div class="card-content">
      <h2 class="card-title">Limpeza pré ou pós mudança</h2>
      <p class="card-description">Limpeza pré ou pós mudança com qualidade e eficiência</p>
      <a href="#" class="btn btn-outline-primary btn-lg">Agendar</a>
    </div>
  </div>
  </div>
