<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cglimpeza.com.br/wp-content/uploads/2017/12/2018-01-10-importancia-dos-epis-para-equipes-de-limpeza.jpg); background-size: cover; height: 500px;">
  <div class="container">
    <h1>Clean Easy <strong>limpeza</strong> para <strong>sua casa ou empresa</strong>!</h1>
    <h3>Deixe a limpeza nas mãos de quem entende.</h3>
    <a class="btn btn-primary" href="#" >Informações</a>
  </div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
