.service {
  color: #2c439ede;
  border: 1px solid #22316cde;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-outline-newgreen {
  border-color: $newgreen;
}

.btn-outline-newgreen:hover {
  background-color: $newgreen;
  color: white;
}

.btn-link {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-decoration: none;
  margin-top: 1em;
  display: inline-block;
  font-weight: 200;
  padding: .5em;
  margin-left: 5px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  &:before, &:after {
      position: absolute;
      content: '';
      border-bottom: 3px solid rgb(255, 255, 255);
      border-radius: 1em;
      bottom: .3em;
      transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:before {
      width: 1em;
      transform-origin: left;
  }

  &:after {
      width: 82%;
      left: 1em;
      transform: translateX(110%);
  }

  &:hover:before {
      transform: scaleX(0.3);
  }

  &:hover:after {
      transform: translateX(0);
  }
}
