.card-category {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  gap: 30px;
}

.card {
  background-color: #efeff2;
  border-radius: 8px;
  box-shadow: 10px 20px 4px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
  height: 500px;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.card-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: #0056b3;
}

.imgcard {
  background-color:#a1a2fb;
}

.btn-ghost {
  color: #4a4a4aad;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

